<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--添加bean的扫描-->
    <content:component-scan base-package="cn.zcp.mave.plugin">
        <content:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </content:component-scan>



</beans>